#blog .sidebar, #archive .sidebar, #blogpost .sidebar, .sidebar {

	margin-top: 35px;
	padding-left: 5px;

	@media(max-width: 991px) {
		margin-bottom: 40px;
	}

	strong {
		font-weight: 500;
		color: #444;
		margin-bottom: 15px;
		font-size: 17px;
		display: block;
	}
	a {
		font-size: 14px;
		display: inline-block;
		margin-bottom: 5px;
	}

	#recent-posts {
		margin-bottom: 45px;
		@media(max-width: 991px) {
			display: none;
		}
	}

	#contract-work, #gateway {
		margin-bottom: 15px;
		padding: 17px;
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		@media(min-width: 992px) {
			width: 85%;
		}
		@media(max-width: 991px) {
			display: block;
			width: 47%;
			text-align: left;
		}

		strong {
			color: #444;
		}
		p {
			margin-bottom: 5px;
			font-size: 13px;
		}
	}

	@media(max-width: 991px) {
		#contract-work {
			float: left;
		}
		#gateway {
			float: right;
		}
	}
}

#blogpost {
	.sidebar {
		margin-top: 42px;
	}
	@media(max-width: 991px) {
		#contract-work, #gateway {
			margin-top: 100px;
		}
	}
}
