<div class="col-md-3 sidebar">
	
	{% comment %}
	TODO: implement search
	<div class="search">
		<form>
			<span class="icomoon-search"></span>
			<input type="text" name="q" placeholder="Search on blog..." />
		</form>
	</div>
	{% endcomment %}

	<div id="recent-posts">
		<strong>Recent Posts</strong>
		{% for post in site.posts limit: 5 %}
			<a href="{{ site.root }}{{ post.url }}">
				{% if site.titlecase %}
					{{ post.title | titlecase }}
				{% else %}
					{{ post.title }}
				{% endif %}
			</a><br/>
		{% endfor %}
		<hr/>
		<a href="{{ site.root }}/archive">Archive</a>
	</div>

	<div id="contract-work">
		<p>
			We're passionate about cryptocurrency and it's applications.
			Contact us for consulting and contract work.
		</p>
		<a href="mailto:team@hubbledev.com">
			 Contact Us
		</a>
	</div>
	<div id="gateway">
		<p>
			We're building the first Stellar gateway in the U.S.
			Visit us to get notified when we launch!
		</p>
		<a href="http://hubblegateway.com">
			Visit Hubble Gateway
		</a>
	</div>

	{% comment %}
	TODO: Add social links (e.g. twitter)
	{% endcomment %}

</div>