<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 copyright">
				© Hubble 2014
			</div>
			<div class="col-sm-9 menu footer-links">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">
						<a href="/blog">Blog</a>
					</li>
				</ul>
			</div>
			{% comment %}
			TODO: implement social links
			<div class="col-sm-3 social">
				<a href="#">
					<img src="images/social/social-tw.png" alt="twitter" />
				</a>
				<a href="#">
					<img src="images/social/social-dbl.png" alt="dribbble" />
				</a>					
			</div>
			{% endcomment %}
		</div>
	</div>
</div>