.navbar.normal {
	.navbar-collapse {
		@media(max-width: 767px) {
			&.in, &.collapsing {
				margin-top: 13px;
			}	
		}
		.navbar-nav.recent-posts {
			margin-bottom: 25px;
			.divider {
				padding: 0px 20px;
				hr {
					margin: 12px 0px;
					height: 2px;
					border: 0;
					border-top: solid 1px rgba(16, 16, 16, 0.4);
					-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.07);
					box-shadow: inset 0 1px 0 rgba(255,255,255,.07);
				}
			}
			li {
				strong {
					font-size: 15px;
					padding: 12px 20px;
					color: #ffffff;
					display: block;
				}
				a {
					padding: 8px 20px;
				}
			}
		}
		.navbar-nav.nav-links {
			float: right;
			.dropdown-menu {
				right: 0px;
				left: inherit;
			}
		}
	}
}

.navbar-inverse .navbar-toggle {
	border: 0;
}
