#post_page {
	@extend #blog;
	.post {
		.title {
			font-family: $myriad;
			font-size: 31px;
			font-weight: 600;
			color: #252525;
		}
		.intro {
			font-family: $merriweather;
			font-size: 14px;
			color: #353535;
		}
	}
}